<h1>Welcome back, <%= @chef.first_name %></h1>

<h3>Your job posts:</h3>
  <div class="row">
    <div class="small-2 large-4 columns">Date</div>
    <div class="small-2 large-4 columns">Start Time</div>
    <div class="small-2 large-4 columns">End Time</div>
    <div class="small-2 large-4 columns">Hourly Wage</div>
    <div class="small-2 large-4 columns">Description</div>
  </div>
  <% @posts.each do |post| %>
    <div class="row">
      <div class="small-2 large-4 columns"><%= post.date %></div>
      <div class="small-2 large-4 columns"><%= post.start_time %></div>
      <div class="small-2 large-4 columns"><%= post.end_time %></div>
      <div class="small-2 large-4 columns"><%= post.wage %></div>
      <% if post.description.blank? %>
        <div class="small-2 large-4 columns">None Provided</div>
      <% else %>
        <div class="small-2 large-4 columns"><%= post.description %></div>
      <% end %>
    </div>
    <% post.signups.each do |signup| %>
      <div id= <%= signup.cook_id %> 
        <div class="row">
          <div class="small-2 large-4 columns"><%= signup.cook.full_name %></div>
          <% if signup.cook.description.blank? %>
            <div class="small-2 large-4 columns">None Provided</div>
          <% else %>
            <div class="small-2 large-4 columns"><%= signup.cook.description %></div>
          <% end %>
          <% if signup.decision == "Pending" %>
            <div class="small-1 columns"><%= button_to "Accept", signup_accept_path(signup), method: :post %></div>
            <div class="small-1 columns"><%= button_to "Reject", signup_reject_path(signup), method: :post %></div>
          <% else %>
            <%= signup.decision %>
          <% end %>
          </div>
        <% end %>
      </div>
  <% end %>

  <%= button_to "Create New Job Post", new_post_path, method: :get %>
