<div class="chef">
  <h3>I am a Chef!</h3>
  <%= link_to "Sign Up", new_chef_registration_path%>
</div>

<div class="cook">
  <h3>I am a Cook!</h3>
  <%= link_to "Sign Up", new_cook_registration_path%>
</div>

<h2>Already a Member? Login here!</h2>

<%= form_for(:chef, :url => session_path(:chef)) do |f| %>
  <div class="field">
    <%= f.label :email, "E-mail" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
