<h1> Job Posts! </h1>

<ul class="accordion" data-accordion>
  <% @posts.each do |post| %>
    <li class="accordion-item" data-accordion-item>
      <a href="#"> <%= post.chef.restaurant_name %></a>
        <div class="accordion-content" data-tab-content >
          <div class="row">
            <div class="small-1 columns">Address</div>
            <div class="small-1 columns">Date</div>
            <div class="small-1 columns">Start Time</div>
            <div class="small-1 columns">End Time</div>
            <div class="small-1 columns">Hourly Wage</div>
            <div class="small-1 columns">Description</div>
          </div>

          <div class="row">
            <div class="small-1 columns"><%= post.chef.full_address %></div>
            <div class="small-1 columns"><%= post.date %></div>
            <div class="small-1 columns"><%= post.start_time %></div>
            <div class="small-1 columns"><%= post.end_time %></div>
            <div class="small-1 columns"><%= post.wage %></div>
            <% if post.description.blank? %>
              <div class="small-1 columns">None Provided</div>
            <% else %>
              <div class="small-1 columns"><%= post.description %></div>
            <% end %>
            <% if cook_signed_in? && !post.cooks.include?(current_cook) %>
              <div class="small-1 columns"><%= button_to "Sign Up", post_signups_path(post), method: :post %></div>
            <% end %>
          </div>
        </div>
        <% end %>
      </li>
</ul>

<% if chef_signed_in? %>
  <%= button_to "Create New Job Post", new_post_path %>
<% end %>
